{% load staticfiles %}
<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <!--<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
  {% block header %}
  {% endblock %}
  <title>Django Girls Blog</title>
</head>
<body>
  <div class="page-header">
    {% if user.is_authenticated %}
      <a class="top-menu" href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
      <a class="top-menu" href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-edit"></span></a>
      <p class="top-menu">Hello {{ user.username }}<small> - (<a href="{% url 'logout' %}">Log out</a>)</small></p>
    {% else %}
      <a class="top-menu" href="{% url 'login' %}"><span class="glyphicon glyphicon-lock"></span></a>
    {% endif %}
    <h1><a href="/">Django Girls Blog</a></h1>
  </div>
    <div class="post">
      <div class="content container">
        <div class="row">
          <div class="col-md-8">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
</body>
</html>

